/*
Description: Styling for the game page of Word Hunt
*/

/* General body styling */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eaf7ff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header styling */
header {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin-top: 20px;
    background-color: #1f1688;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
 
header h2 {
    margin: 0;
}

/* Timer styling */
#timer {
    font-size: 20px;
    font-weight: bold;
}

/* Game container */
#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

/* Ready container */
#ready-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#ready-button {
    padding: 15px 30px;
    font-size: 24px;
    background-color: #007acc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#ready-button:hover {
    background-color: #005f99;
}

/* Game board */
#game-board.hidden {
    display: none;
}

.hidden {
    display: none;
}

.grid-cell {
    background-color: #f1c40f;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}

.grid-cell:hover {
    background-color: #e67e22;
}

.grid-cell.valid {
    background-color: green;
}

#game-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    margin: 20px 0;
    border: 5px solid #1f1688;
    border-radius: 5px;
}

#home-btn {
    position: absolute;
    top: 2vh;
    left: 2vh;
    padding: 10px;
    font-size: 3vh;
    background-color: #f39c12;
    color: white;
    border: none;
    border-radius: 1vh;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

#home-btn:hover {
    background-color: #007acc;
}

/* Game instructions */
#explanation {
    margin-top: 40px;
    padding: 10px;
    text-align: center;
    font-size:large;
    border: 5px solid #005f99;
    border-radius: 5px;
}

#current-word {
    font-size: 24px;
    font-weight: bold;
}

#warning{
    text-align: center;
}

#warning-alert{
    position: absolute;
    margin-top: 20vh;
    padding: 2vh;
    text-align: center;
    font-size:large;
    border-radius: 2vh;
    background-color: brown;
    color: #eaf7ff;
    font-family: 'Arial', sans-serif;
    width: 50%;
    height: 40%;
    font-size: 7vh;
}

label, #exit, #continue{
    font-size: 3vh;
    display: inline-block;
}

#exit, #continue{
    background-color: #f39c12;
    color: white;
    border: none;
    border-radius: 1vh;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    padding: 1vh;
}