/*
gameStyle.css
StyleSheet for game.html
*/

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eaf7ff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin-top: 20px;
    background-color: #1f1688;
    color: white;
    padding: 10px;
    border-radius: 10px;
}

header h2 {
    margin: 0;
}

#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #1f1688;
    color: white;
    width: 75%;
    margin: 0 auto;
    border-radius: 10px;
}

#timer {
    flex: 1;
    text-align: right;
    font-size: 2.5vh;
    font-weight: bold;
}

#user-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: left;
    margin-left: 6%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 30%;
}

#buttons-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;

}

#home-btn {
    padding: 10px 20px;
    font-size: 2vh;
    background-color: #f39c12;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
    margin-bottom: 10px;
}

#home-btn:hover {
    background-color: #007acc;
    cursor: pointer;
}

#skip-btn {
    padding: 10px 20px;
    font-size: 2vh;
    background-color: #007acc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#skip-btn:hover {
    background-color: #007acc;
}

/* Ready container */
#ready-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#ready-button {
    padding: 15px 30px;
    font-size: 24px;
    background-color: #007acc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#ready-button:hover,
#home-btn:hover,
#skip-btn:hover {
    background-color: #005f99;
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

#game-board.hidden {
    display: none;
}

.hidden {
    display: none;
}

#game-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px;
    margin: 20px 0;
    border: 5px solid #1f1688;
    border-radius: 5px;
    padding: 15px;
}

.grid-cell {
    background-color: #f1c40f;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}

.grid-cell:hover,
.grid-cell.formingWord {
    background-color: #e67e22;
}

.grid-cell.valid {
    background-color: green;
}

.grid-cell.invalid {
    background-color: grey;
}

#current-word {
    font-size: 24px;
    font-weight: bold;
}

#explanation {
    margin-top: 40px;
    padding: 10px;
    text-align: center;
    font-size: large;
    border: 5px solid #005f99;
    border-radius: 5px;
}

#current-word {
    font-size: 24px;
    font-weight: bold;
}

#warning {
    text-align: center;
}

#warning-alert {
    position: absolute;
    padding: 2vh;
    text-align: center;
    font-size: large;
    margin-top: 34vh;
    border-radius: 2vh;
    background-color: brown;
    color: #eaf7ff;
    font-family: 'Arial', sans-serif;
    width: 50%;
    height: 40%;
    font-size: 7vh;
}

label,
#exitBtn,
#continueBtn {
    font-size: 3vh;
    display: inline-block;
}

#exitBtn,
#continueBtn {
    background-color: #f39c12;
    color: white;
    border: none;
    border-radius: 1vh;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    padding: 1vh;
    cursor: pointer;
}

#exitBtn:hover,
#continueBtn:hover {
    background-color: #005f99;
}