/*
leaderboardStyle.css
StyleSheet for leaderboard.html
*/

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eaf7ff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#headerBlock {
    text-shadow: 2px 3px black;
    border-radius: 1vh;
    height: 10vh;
    width: 100%;
    padding: 5px, 40px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f0de7c;
    text-align: center;
    font-size: 5vh;
    margin-top: 20px;
}




#home-btn {
    position: absolute;
    top: 3vh;
    left: 4vh;
    padding: 10px;
    font-size: 4vh;
    background-color: #f39c12;
    color: white;
    border: none;
    border-radius: 1vh;
    font-family: 'Arial', sans-serif;
}

#home-btn:hover {
    background-color: #007acc;
    cursor: pointer;
}

table {
    color: white;
    background-color: #005f99;
    text-shadow: 0 0 2px rgb(0, 0, 0);
    margin-top: 3vh;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0px;
    border: 2px solid #ddd;
    background-color: #2c0ba2;
    border-radius: 2vh;
    overflow: hidden;
}

#user,
#score,
#words,
#longestWord {
    text-align: center;
}

th,
td {
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
}

th {
    font-size: 1.5em;
}

td {
    font-size: 1.2em;
}

#options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    margin-top: 10px;
}


#date-select,
#language-select {
    font-size: 2.5vh;
    padding: 5px;
    background-color: #f39c12;
    color: white;
    border: none;
    border-radius: 1vh;
    font-family: 'Arial', sans-serif;
}